* {
    box-sizing:border-box;
}

body {
    height: 100vh;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}


.header, .footer{
    background-color: #1F2937;
}

.header {
    padding: 0px 100px;
}


.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-family: cursive;
}

.links {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-title {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8; 
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
    opacity: 85%;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 40px;
}

.bottom {
    display: flex;
    padding-bottom: 75px;
}

.bottom .right{
    display: flex;
    margin-left: 75px;
}


.buttons {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 8px;
    width: 100px;
    height: auto;
}

.header button {
    border: #1F2937;
  
}

.info {
    text-align: center; 
    padding: 30px; 
    margin: 10px auto 50px;
}

.info-header {
    font-size: 36px; 
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 30px;
}

.header img{
    max-width: 500px;
    max-height: 250px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.container img {
    border-radius: 10px; 
    width: 85%;
    height: 60%; 
    max-width: 200px;
}

.text {
    margin: 10px auto;
    max-width: 200px;
}

.quote {
    background-color: #E5E7EB;
    padding: 50px 100px; 
    margin-top: 20px;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color:#1F2937;
}

.quote-author {
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    text-align: right;
}

.call-to-action {
    background-color: #3882F6;
    color: white;
    display: flex;
    padding: 20px 50px;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin: 75px 100px;
    gap: 50px;
}

.call-to-action button{
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 2px;
}

.call-to-action h4 {
    margin-bottom: 0px;
}

.call-to-action p {
    margin-top: 8px;
}

.footer {
    text-align: center;
    font-size: 12px;
    color: white;
    font-weight: lighter;
    padding: 10px;
}