* {
    box-sizing:border-box;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}


.header, .footer{
    background-color: #1F2937;
}

.header {
    padding: 0px 100px;



}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-title {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8; 
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 40px;
}

.bottom {
    display: flex;
    padding-bottom: 75px;
}

.bottom .right{
    display: flex;
}

.buttons {
    background-color: #3882F6;
    color: white;
    padding: 8px 20px;
    border-radius: 8px;
}

.header button {
    border: #1F2937;
    font-weight: bold;
}

.call-to-action button {
    border: white;
}

.info {
    text-align: center; 

    padding: 30px; 
}

.info-header {
    font-size: 36px; 
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 30px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.text {
    max-width: 150px;
}
